<div class="modal fade show d-block" tabindex="-1" role="dialog"
  style="display: flex; align-items: center; justify-content: center; height: 100vh;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Profile</h5>
        <button type="button" class="btn-close position-absolute p-2" style="right: 1rem; top: 1rem; background-color: transparent; border: none;" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form (submit)="saveProfile()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="profile.name" name="name" placeholder="Enter Name" required>
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" [(ngModel)]="profile.surname" name="surname" placeholder="Enter Surname" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="profile.email" name="email" placeholder="Enter Email" required>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="profile.phoneNumber" name="phoneNumber" placeholder="Enter Phone Number" required>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
