<div class="modal fade show d-block" tabindex="-1" role="dialog" style="display: flex; align-items: center; justify-content: center; height: 100vh;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Assign Book to {{ selectedProfile!.name }} {{ selectedProfile!.surname }}</h5>
          <!-- <button type="button" class="btn-close position-absolute p-2" style="right: 1rem; top: 1rem; background-color: transparent; border: none;" aria-label="Close" (click)="closeModal()"></button> -->
        </div>
        <div class="modal-body">
          <form (submit)="assignBook(bookId.value)">
            <div class="form-group">
              <label for="bookId">Book ID</label>
              <input type="text" class="form-control" id="bookId" #bookId placeholder="Enter Book ID">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Assign</button>
              <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- 
  html for parent
  <app-book-alocation-modal
  *ngIf="isModalVisible;" 
  [selectedProfile]="selectedProfile" 
  (close)="closeModal()">
</app-book-alocation-modal> -->