<div *ngIf="!showAssign;else Confirm">
  <div class="container"> 
    <div class="row">
      
      <button class="my-4 col-2 btn btn-info" (click)="goBack()">Back</button>
      <button *ngIf="selectedBooks.length > 0" class="m-4 col-2 btn btn-success" (click)="assignBooks()">Assign</button>
    </div>
    <div *ngIf="selectedBooks.length > 0;else NoBooksSelected" class="row">
      <h3 class="col-4">Selected Books</h3>
      
      <div class="my-3 text-center" id="selectedBooks">
        <div class="row my-1" *ngFor="let book of selectedBooks; let i = index">
          <h6 class="col-8 my-1">{{book.book_name}} by {{book.author}}</h6>
          <span class="col-2" (click)="removeSelectedBook(i)">X</span>
        </div>
      </div>
    </div>
    <ng-template #NoBooksSelected>
      <h6>No books selected</h6>
    </ng-template>
  </div>
  
  <div class="container mt-1">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Select Books</h2>
        <div class="form-group mb-2">
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm" (input)="filterBooks()">
        </div>
        <table *ngIf="filteredBooks.length > 0; else noBooks" class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Book Name</th>
              <th>ISBN</th>
              <th>Author</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of filteredBooks" (click)="addSelectedBook(book)" [ngClass]="hasBeenSelected(book) ? 'selectedRow' : ''">
              <td>{{ book.id }}</td>
              <td>{{ book.book_name }}</td>
              <td>{{ book.isbn_number }}</td>
              <td>{{ book.author }}</td>
            </tr>
          </tbody>
        </table>
        <ng-template #noBooks>
          <p class="text-center">No Books found.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #Confirm>
  <app-confirm-assign (hideConfirmComp)="hideConfirm($event)" [selectedBooks]="this.selectedBooks"></app-confirm-assign>
</ng-template>