<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">User List</h2>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm" (input)="filterUsers()">
      </div>
      <table *ngIf="filteredUsers.length > 0; else noUsers" class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers" (click)="onRowClick(user)">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phoneNumber }}</td>
          </tr>
        </tbody>
      </table>
      <ng-template #noUsers>
        <p class="text-center">No users found.</p>
      </ng-template>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>